/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* common styles */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 20px;
}

/* Top Player Section */
.section-title{
    font-size: 24px;
    color: #562EFF;
    font-weight: 800;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
        width: 56px;
}

.player-name{
    font-size: 18px;
    margin-left: 16px;
}

.hr-line{
    border: 1px solid #D1D1D1;
    margin: 30PX 0;
}

/* Top Blog Section  */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog{
    display: flex;
    align-items: center;

}
.blog img{
    width: 177px;
}
.blog-content{
    margin-left: 16px;
}
.blog-content h3{
    font-size: 20px;
}

.author-name{
    text-decoration: none;
    font-size: 16px;
}

/* Total Courses section */
.all-courses{
    display: flex;
}
.course img{
    width: 224px;
}
.fa-star, .fa-star-half-alt{
    color: #FFC014;
}